.topic-list .d-icon-asterisk {
  color: dark-light-choose(
    scale-color($primary, $lightness: 50%),
    scale-color($secondary, $lightness: 50%)
  );
}

.requires-review .topic-meta-data a.post-date:after {
  content: "*";
  margin-left: 5px;
}
